@mixin alert-styles($bg-color, $text-color, $border-color, $shadow-color: #000) {
  background-color: $bg-color;
  color: $text-color;
  border: 3.5px solid $border-color;
  box-shadow: 5px 5px 0px $shadow-color;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Lexend Mega", "Public Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
}

$alert-variants: (
  success: (
    $green-light,
    $black,
    $green,
    $green
  ),
  error: (
    $pale-red,
    $black,
    $red,
    $red
  ),
  warning: (
    $pale-yellow-light,
    $black,
    $pale-yellow,
    $pale-yellow
  ),
  info: (
    $sky-blue-light,
    $black,
    $sky-blue,
    $sky-blue
  )
);

@each $variant, $colors in $alert-variants {
  .alert.#{$variant} {
    @include alert-styles($colors...);
  }
}