@mixin alert-styles($bg-color, $border-color) {
  background-color: $bg-color;
  border: 1px solid $border-color;
  padding: 0.1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 2px 2px 0px hsl(0, 0%, 0%);
}

$alert-variants: (
  success: (
    $green-light,
    $green,
  ),
  error: (
    $pale-red,
    $red,
  ),
  warning: (
    $pale-yellow-light,
    $pale-yellow,
  ),
  info: (
    $sky-blue-light,
    $sky-blue,
  ),
);


@each $variant, $colors in $alert-variants {
  .alert.#{$variant} {
    @include alert-styles($colors...);
  }
}