.nb-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
}

input.nb-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;

  &:checked {
    background-color: #007bff;
    color: #fff;

    &::before {
      content: "x";
      font-weight: bold;
      color: inherit;
      left: 5px;
      position: relative;
      top: 0px;
      font-size: 18px;
      text-align: center;
    }
  }
}
