$text-colors: (
  black: $black,
  white: $white,
  red: $red,
  orange: $orange,
  blue: $blue,
  green: $green,
  sky-blue: $sky-blue,
  pale-red: $pale-red,
  pale-violet: $pale-violet,
  soft-blue: $soft-blue,
  pale-cyan: $pale-cyan,
  pale-yellow: $pale-yellow,
);

$bg-colors: (
  black: $black,
  white: $white,
  red: $red,
  orange: $orange,
  blue: $blue,
  green: $green,
  sky-blue: $sky-blue,
  pale-red: $pale-red,
  pale-violet: $pale-violet,
  soft-blue: $soft-blue,
  pale-cyan: $pale-cyan,
  pale-yellow: $pale-yellow,
);

@each $color-name, $color-value in $text-colors {
  .text-#{$color-name} {
    color: $color-value;
  }
}
@each $color-name, $color-value in $bg-colors {
  .bg-#{$color-name} {
    background-color: $color-value;
  }
}
