.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  border: 2px solid black;
  font-weight: bold;
  position: relative;
  .marquee-content {
    animation: marquee 10s linear infinite;
    span {
      display: inline-block;
      padding: 0 20px;
      font-size: 24px;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
