$red: #dc341e;
$orange: #ff5733;
$blue: #0077b6;
$green: #40d39c;
$green-light: #92fca2;
$sky-blue: #b9e2f8;
$sky-blue-light: #d5f0ff;
$pale-red: #ffc5c8;
$pale-violet: #bc98cb;
$soft-blue: #4799ae;
$pale-cyan: #b9e7de;
$pale-yellow: #fdfd96;
$pale-yellow-light: #f8f894;

$hover-orange: #d64b2b;
$hover-blue: #005785;
$hover-green: #30ac7e;
$hover-sky-blue: #91bed6;
$hover-pale-red: #ffb2b2;
$hover-pale-violet: #b482c9;
$hover-soft-blue: #378589;
$hover-pale-cyan: #a0e5d7;
$hover-pale-yellow: #fcfc7e;
