@mixin button-styles(
  $bg-color: #ffffff,
  $text-color: #000000,
  $hover-bg-color: #d9ece9
) {
  display: inline-block;
  padding: 10px 20px;
  background-color: $bg-color;
  color: $text-color;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #000000;
  box-shadow: 3px 3px 0px #000000;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: $hover-bg-color;
  }

  &:focus {
    outline: none;
  }

  &:active {
  }

  &.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.btn {
  @include button-styles;
}

.red {
  @include button-styles(
    $bg-color: $red,
    $text-color: white,
    $hover-bg-color: $hover-red
  );
}

.blue {
  @include button-styles(
    $bg-color: $blue,
    $text-color: white,
    $hover-bg-color: $hover-blue
  );
}

.green {
  @include button-styles(
    $bg-color: $green,
    $text-color: white,
    $hover-bg-color: $hover-green
  );
}

.sky-blue {
  @include button-styles(
    $bg-color: $sky-blue,
    $text-color: white,
    $hover-bg-color: $hover-sky-blue
  );
}

.pale-red {
  @include button-styles(
    $bg-color: $pale-red,
    $text-color: white,
    $hover-bg-color: $hover-pale-red
  );
}

.pale-violet {
  @include button-styles(
    $bg-color: $pale-violet,
    $text-color: white,
    $hover-bg-color: $hover-pale-violet
  );
}

.soft-blue {
  @include button-styles(
    $bg-color: $soft-blue,
    $text-color: white,
    $hover-bg-color: $hover-soft-blue
  );
}
.pale-cyan {
  @include button-styles(
    $bg-color: $pale-cyan,
    $text-color: white,
    $hover-bg-color: $hover-pale-cyan
  );
}

.pale-yellow {
  @include button-styles(
    $bg-color: $pale-yellow,
    $text-color: black,
    $hover-bg-color: $hover-pale-yellow
  );
}
