$text-colors: (
  orange: $orange,
  blue: $blue,
  green: $green,
  sky-blue: $sky-blue,
  pale-red: $pale-red,
  pale-violet: $pale-violet,
  soft-blue: $soft-blue,
  pale-cyan: $pale-cyan,
  pale-yellow: $pale-yellow,
);

$bg-colors: (
  orange: $orange,
  blue: $blue,
  green: $green,
  sky-blue: $sky-blue,
  pale-red: $pale-red,
  pale-violet: $pale-violet,
  soft-blue: $soft-blue,
  pale-cyan: $pale-cyan,
  pale-yellow: $pale-yellow,
);

$bg-hover-colors: (
  hover-orange: $hover-orange,
  hover-blue: $hover-blue,
  hover-green: $hover-green,
  hover-sky-blue: $hover-sky-blue,
  hover-pale-red: $hover-pale-red,
  hover-pale-violet: $hover-pale-violet,
  hover-soft-blue: $hover-soft-blue,
  hover-pale-cyan: $hover-pale-cyan,
  hover-pale-yellow: $hover-pale-yellow,
);

@each $color-name, $color-value in $text-colors {
  .text-#{$color-name} {
    color: $color-value;
  }
}
@each $color-name, $color-value in $bg-colors {
  .bg-#{$color-name} {
    background-color: $color-value;
  }

  $hover-color: map-get($bg-hover-colors, "hover-#{$color-name}");
  .bg-#{$color-name}:hover {
    background-color: $hover-color;
  }
}
