/* Reset Box Model and Margins */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  max-width: 1300px;
  margin: auto;
}

/* Header Styles */
header {
  color: #fff;
  padding: 2rem 0;
  font-family: "Public Sans", sans-serif;
}

/* Navigation Styles */
nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 350px;
  height: auto;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  line-height: 2rem;
}

.nav-links a:hover {
  text-decoration-line: underline;
}

/* Presentation Section Styles */
.presentation {
  font-family: Proza Libre, sans-serif;
  border: 3px solid #000000;
  display: flex;
  height: 85vh;
  border-radius: 1.5rem;
  background-color: #ffc0cb;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10%;
}

.title {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-weight: 700;
  font-family: "Lexend Mega", sans-serif;
  font-size: 5rem;
  line-height: 1;
}

.description {
  font-family: "Public Sans", sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0 0 3rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

/* Highlighted Background Styles */
.component-description {
}

.highlight {
  background: rgb(43, 43, 43);
  color: rgb(248, 248, 242);
  position: relative;
}
.copy {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  border-bottom: 1px dotted black;
  padding: 10px;
  margin: 0;
  background: rgb(43, 43, 43);
  border: none;
  cursor: pointer;
  border-radius: 20%;
}

.copy .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copy .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.copy:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.copy:hover {
  background: rgb(23, 23, 23);
}
.copy img {
  height: 20px;
  width: auto;
}
.tag {
  color: #22b3eb;
}
.class {
}
.name {
  color: #d43939;
}
pre {
  font-size: 1em;
  overflow-x: auto;
  padding: 1rem;
  white-space: pre;
}

code {
  font-family: "Public Sans", sans-serif;
  background: none;
  padding: 0;
}

/* Button and Link Styles */
button,
a,
input {
  font-family: "Public Sans", sans-serif;
  margin: 20px;
}

/* Sections Styles */
.sections {
  text-align: left;
  padding-top: 2rem;
  margin: 2rem 6rem;
}

.backgrounds div {
  width: 300px;
  padding: 10px;
}

h1 {
  font-weight: 700;
  font-family: "Lexend Mega", sans-serif;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Lexend Mega", sans-serif;
  line-height: 2rem;
}
h3 {
  font-family: "Lexend Mega", sans-serif;
}
h4 {
  font-family: "Lexend Mega", sans-serif;
}

p {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
}

/* Getting Started Section Styles */
.getting-started {
  text-align: left;
  margin: 3rem 6rem;
}

/* Footer Styles */
.site-footer {
  color: #000;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 50px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  font-family: "Public Sans", sans-serif;
  display: inline;
  margin-right: 20px;
}

.footer-links li a img {
  width: 50px;
}

.footer-made-by {
  margin-top: 20px;
}

.copyright {
  margin-top: 20px;
  font-size: 12px;
  font-family: "Public Sans", sans-serif;
}

/* Media Queries */
@media (max-width: 1250px) {
  .title {
    font-size: 4rem;
  }
  .description {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  nav {
    justify-content: center;
  }
  .logo img {
    max-width: 250px;
    height: auto;
  }
  .footer-content {
    justify-content: center;
  }
  .presentation {
    margin: 0;
  }
  .title {
    font-size: 3rem;
  }
  .description {
    font-size: 1.5rem;
  }
  .getting-started {
    margin: 1rem 2rem;
  }
  .sections {
    margin: 1rem 2rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }
  .description {
    margin: 10px;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .getting-started {
    margin: 0.7rem 1.5rem;
  }
  .sections {
    margin: 0.7rem 1.5rem;
  }
}
