/* Reset Box Model and Margins */
html,
body {
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Public Sans", sans-serif;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  line-height: 2rem;
}

.nav-links a:hover {
  text-decoration-line: underline;
}

.presentation {
  font-family: Proza Libre, sans-serif;
  border-style: solid;
  display: flex;
  height: 85vh;
  border-radius: 1.5rem;
  border-width: 4px;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: #ffc0cb;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10%;
}

.title {
  text-align: center;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  margin: 0;
  font-weight: 700;
  font-family: "Lexend Mega", sans-serif;
  font-size: 5rem;
  line-height: 1;
}

.description {
  font-family: "Public Sans", sans-serif;
  text-align: center;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  margin: 0;
  margin: 3rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

@media (max-width: 1250px) {
  .title {
    font-size: 4rem;
  }
  .description {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .presentation {
    margin: 0;
  }
  .title {
    font-size: 3rem;
  }
  .description {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }
  .description {
    margin: 10px;
    line-height: 1rem;
    font-size: 0.8rem;
  }
}

button {
  font-family: "Public Sans", sans-serif;
  margin: 20px;
}
input {
  font-family: "Public Sans", sans-serif;
  margin: 20px;
}

.sections {
  text-align: center;
  margin: 3rem 6rem;
}
.backgrounds div {
  width: 300px;
  margin: auto;
  padding: 10px;
}
h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  font-family: "Lexend Mega", sans-serif;
  line-height: 2.5rem;
}
p {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
}
@media (max-width: 600px) {
  .sections {
    margin: 1rem 2rem;
  }
}
