// Import base styles
@import "base/variables";
@import "base/reset";

// Import components
@import "components/buttons";
@import "components/inputs";
@import "components/colors";
@import "components/dialog";
@import "components/marquee";
@import "components/cards";
@import "components/avatar";
@import "components/checkbox";
@import "components/badge";
